@CHARSET "UTF-8";

* {-webkit-text-size-adjust:none}

@media only screen and  (max-width:1000px) {

	/* reset */
	#skipNav, 
	/*.mobile #container #content .content * {font-size:100%}*/
	.mobile .notice_area, 
	.mobile #header .center_area > ul.left, 
	.mobile #header .center_area > ul.right, 
	.mobile .total_search, 
	.mobile .gnb_area, 
	.mobile .total_menu, 
	/*.mobile div.main_cont div.right, 
	.mobile ul.link_go, */
	.mobile #header .center_area > p, 
	/*.mobile .footer .footer_menu, */
	.mobile .footer .address a.wa, 
	/*.mobile .footer .site_go, */
	.mobile .footer .address .logo, 
	.mobile #lnb,
	.mobile .webCont,
	.mobile #content .location,
	.mobile .slide_menu .slide_wrap .download {display:none}
	
	.mobile #container, 
	.mobile #header, 
	.mobile .footer,
	.mobile.qnet.main #container, 
	.mobile.qnet.main #container {background:none}
	
	#wrap.mobile {min-width:320px; height:100%}
	.mobile img {max-width:100%; max-height:100%}
	.mobile #content, .mobile.main #container #content, .mobile .center_area {float:none; margin:0 auto; padding:0; width:90%}
	.mobile #header .center_area > h1, .mobile .footer .address, .mobile ul.link_top, .mobile div.main_cont {padding:0}
	.mobile .footer .address, .mobile div.main_cont div.left {margin:0}
	
	.mobile #container {width:100%}

	.mobile #content .mCont {display:block}
	
	/* layout */
	.mobile #header {border-bottom:1px solid #c0c1c4/*; font-size:100%*/}
	.mobile #header .center_area {}
	.mobile #header p.mText {display:block; position:absolute; left:50%; bottom:0; top:auto; margin-left:-25%; width:50%; text-align:center}
	.mobile #header .view_pc {display:block; position:absolute; left:50%; top:0; margin-left:-63px}
	.mobile #header .view_pc span {display:block; width:126px; height:25px; background:url('resources/images/mobile/bg_view_pc.png') no-repeat center top; font-size:11px; font-weight:bold; color:#fff}
	.mobile #header .center_area {margin:0 auto; width:96%}
	.mobile .footer .center_area {}
	.mobile #header .center_area {padding:15px 0}
	
	.mobile #content {border-top:1px solid #e4e4e4}
	
	.mobile .footer {padding:1% 0 2.5%; background:#52535d; color:#999; text-align:center; }
	.mobile .footer .footer_top {margin:0 auto 2%; padding:0 2%; width:auto; background-color:#f4f4f4; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; overflow:hidden}
	.mobile .footer .footer_top .footer_menu {float:left}
	.mobile .footer .footer_top .footer_menu > a {display:none}
	.mobile .footer .footer_top .site_go {position:relative; right:auto; top:auto; margin-top:7px; float:right; height:30px}
	.mobile .footer .footer_top .site_go .site {display:none}
	.mobile .footer .mLogo {display:block; padding-bottom:10px}
	.mobile .footer .address {font-size:13px; line-height:1.2em}
	
	.mobile .footer .center_area .address address {padding-bottom:10px; color:#d4d3d3; font-size:13px}
	
	.mobile .footer .center_area .address p {font-size:13px}
	
	.mobile .mMenu_open {display:block; position:absolute; right:-2%; top:0; padding:0 4% 0 2%; height:100%; background:#016cbc}
	
	.mobile .mMenu_list {z-index:999; position:absolute; right:-245px; top:0; width:245px; height:100%; background-color:#1072ba}
	.mobile .mMenu_list .close {background:#333; width:50px; height:33px}
	.mobile .mMenu_list > span > a {display:inline-block; padding:5px 0; color:#fff; font-size:11px}
	.mobile .mMenu_list > span > a:first-child {color:#7ed7ff}
	.mobile .mMenu_list ul {}
	.mobile .mMenu_list li a {display:block; padding:0 20px 6px 30px; color:#00ffff}
	.mobile .mMenu_list li li a {color:#fff}
	.mobile .mMenu_list li li.on a {color:#00ffff}
	.mobile .mMenu_list > ul {padding-bottom:2px; background:#1072ba url('resources/images/mobile/bg_menu.png') repeat-x left bottom}
	.mobile .mMenu_list > ul > li {padding-top:2px; background:url('resources/images/mobile/bg_menu.png') repeat-x left top; font-size:16px}
	.mobile .mMenu_list > ul > li > a {padding-top:20px; background:url('resources/images/mobile/bg_menu_bl.png') no-repeat 1.3em 1.7em; font-weight:bold}
	.mobile .mMenu_list > ul > li > a > span {display:block; margin:0 14px 15px 0; padding-bottom:5px; background:url('resources/images/mobile/bg_menu_down.png') no-repeat right 5px}
	.mobile .mMenu_list > ul > li.on {background:#1485d7 url('resources/images/mobile/bg_menu_on.png') repeat-x left top}
	.mobile .mMenu_list > ul > li.on > a {background-image:url('resources/images/mobile/bg_menu_bl_on.png'); color:#fff}
	.mobile .mMenu_list > ul > li.on > a > span {background:url('resources/images/mobile/bg_menu_up.png') no-repeat right center; color:#fff}
	.mobile .mMenu_list > ul > li > ul {padding:2px 0 15px; background:#0d68ad}
	.mobile .mMenu_list > ul > li.on > ul {background:#0d68ad url('resources/images/mobile/bg_menu.png') repeat-x left top}
	.mobile .mMenu_list > ul > li > ul > li {padding-top:15px; font-size:14px}
	.mobile .mMenu_list > ul > li > ul > li > a {padding-top:2px; padding-bottom:5px; background:url('resources/images/mobile/bg_menu_sbl_on.png') no-repeat 1.5em 0.6em; font-weight:bold}
	.mobile .mMenu_list > ul > li > ul > li.on > a {background-image:url('resources/images/mobile/bg_menu_sbl.png')}
	.mobile .mMenu_list > ul > li > ul > li > a:hover {background-color:#0a4977}
	.mobile .mMenu_list > ul > li > ul > li > ul > li {margin-top:5px; font-size:12px}
	.mobile .mMenu_list > ul > li > ul > li > ul > li > a {padding-top:2px; padding-bottom:5px; background:url('resources/images/mobile/bg_menu_ssbl.png') no-repeat 20px 9px}
	.mobile .mMenu_list > ul > li > ul > li > ul > li > a:hover {background-color:#0a4977}
	.mobile .mMenu_list > ul > li > ul > li > ul > li > ul > li {font-size:11px}
	.mobile .mMenu_list > ul > li > ul > li > ul > li > ul > li > a {padding-left:35px; padding-top:0; padding-bottom:3px; background:url('resources/images/mobile/bg_menu_sssbl.png') no-repeat 20px 9px}
	.mobile .mMenu_list > ul > li > ul > li > ul > li > ul > li > a:hover {background-color:#0a4977}
	
	/* main */
	.mobile ul.link_top {padding:0; min-height:0; background:url('resources/images/mobile/bg_link_top.png') repeat-x left bottom}
	.mobile ul.link_top li {padding:2% 0 2% 1.5%; width:23%; text-align:center}
	.mobile ul.link_top li:first-child {padding-left:0}
	.mobile ul.link_top li.n04 {padding-left:0; width:27%}
	.mobile ul.link_top li a {margin:0 auto; padding:0; width:auto}
	.mobile ul.link_top li a > em {position:relative}
	
	/*.mobile #content > .bbs_list {display:block; margin:2% auto 0; width:96%; border:1px solid #d5d5d5}*/
	.mobile #content > .bbs_list dl {}
	.mobile #content > .bbs_list dl dt {padding:22px 25px 0; font-size:16px; font-weight:bold; color:#000}
	.mobile #content > .bbs_list dl dd {position:relative; padding:25px 25px 0}
	.mobile #content > .bbs_list dd .more {position:absolute; right:25px; top:-8%; width:18px; height:18px; background:url('resources/images/main/bg_more.gif') no-repeat center center; text-indent:-999px; overflow:hidden}
	.mobile #content > .bbs_list dd ul {}
	.mobile #content > .bbs_list dd li {margin-bottom:17px; background:url('resources/images/main/bl_bbs.gif') no-repeat left center; zoom:1; line-height:1.2em}
	.mobile #content > .bbs_list dd li:after {content:''; display:block; clear:both}
	.mobile #content > .bbs_list dd li a {position:relative; float:left; top:-2px; margin-right:5px; padding-left:10px; max-width:81%; color:#333; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
	.mobile #content > .bbs_list dd li img {position:relative; float:left; top:1px; vertical-align:top}
	.mobile #content > .bbs_list dd li span {position:relative; float:right; top:-2px; color:#999}
	.mobile #content > .bbs_list dd .none {padding-top:130px; background:url('resources/images/main/bg_none_bbs.gif') no-repeat center 40px; text-align:center; color:#016cbc; font-weight:bold}
	
	.mobile div.main_cont {position:relative; margin:0 auto; padding:2% 0; width:96%; overflow:hidden}
	.mobile div.main_cont div.left, .mobile div.main_cont div.right {float:none; width:auto}
	
	.mobile div.main_cont div.left {overflow:hidden}
	.mobile div.main_cont div.left dl.test_ing {float:left; margin:0; width:50%}
	.mobile div.main_cont div.left dl.test_ing dt {padding-left:20px}
	.mobile div.main_cont div.left dl.test_ing dd {padding-left:20px}
	.mobile div.main_cont div.left dl.test_ing dd .moveText {left:20px}
	.mobile div.main_cont div.left dl.test_ing dd .move {bottom:0; right:0}
	/*.mobile div.main_cont div.left dl.test_ing dd {height:235px}*/
	.mobile div.main_cont div.left div.auto_banner {float:right; margin:0}
	
	.mobile div.main_cont div.right dl.bbs_list dd li a {max-width:81%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
	.mobile div.main_cont div.right ul.left_banner {width:67%}

	.mobile ul.link_go {margin:0; padding:0 2%; min-height:89px; background:url('resources/images/mobile/bg_mlink.png') repeat left top; overflow:hidden}
	.mobile ul.link_go li {position:relative; float:left; margin-top:1px; min-width:93px; width:12.5%; background:url('resources/images/mobile/bg_mlink_line.png') no-repeat right top}
	.mobile ul.link_go li a {width:auto; height:auto; background-size:88.1%}
	.mobile ul.link_go li.go01 a {background:url('resources/images/mobile/bg_mlink_line.png') no-repeat left top}
	.mobile ul.link_go li a span {height:60px; background:url('resources/images/mobile/bg_mlink.png') repeat-x left -1px}
	.mobile ul.link_go li a em {height:60px}
	.mobile ul.link_go li.m09 {display:none}
	.mobile ul.link_go li a strong {padding-top:4px; height:24px}
	.mobile ul.link_go li.go02 a strong {letter-spacing:-1px}

	.mobile div.main_cont ul.left_banner > li.customer {position:relative; padding-left:55%; background:url('resources/images/main/bg_customer_left.png') no-repeat left bottom}
	.mobile div.main_cont ul.left_banner > li.customer dl {position:absolute; right:0; top:0}

	.mobile div.main_cont ul.left_banner > li.list_tel {background-position:30% 21px}
	.mobile div.main_cont ul.left_banner > li.list_tel > a {padding-left:42%}

	/*.mobile ul.mLink {display:block; padding:0 2%; min-height:89px; background:url('resources/images/mobile/bg_mlink.png') repeat left top; overflow:hidden}
	.mobile ul.mLink li {float:left; min-width:93px; width:12.5%; background:url('resources/images/mobile/bg_mlink_line.png') no-repeat left top; text-align:center}
	.mobile ul.mLink li a {display:block; margin-left:1px}
	.mobile ul.mLink li.m08 a {background:url('resources/images/mobile/bg_mlink_line.png') no-repeat right top}
	.mobile ul.mLink li.m08 a strong {margin-right:1px}
	.mobile ul.mLink li a span {display:block; padding-top:1px; height:60px}
	.mobile ul.mLink li a span img {margin-top:13px}
	.mobile ul.mLink li a:hover span img {opacity:0; -moz-opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
	.mobile ul.mLink li.m01 a:hover span {background:#b5c837 url('resources/images/mobile/m01_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m02 a:hover span {background:#b5c837 url('resources/images/mobile/m02_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m03 a:hover span {background:#b5c837 url('resources/images/mobile/m03_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m04 a:hover span {background:#b5c837 url('resources/images/mobile/m04_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m05 a:hover span {background:#b5c837 url('resources/images/mobile/m05_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m06 a:hover span {background:#b5c837 url('resources/images/mobile/m06_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m07 a:hover span {background:#b5c837 url('resources/images/mobile/m07_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m08 a:hover span {background:#b5c837 url('resources/images/mobile/m08_on.png') no-repeat center bottom}
	.mobile ul.mLink li.m09 {display:none}
	.mobile ul.mLink li a strong {display:block; padding-top:4px; height:24px; background:#00557e; color:#c3dcf4}
	.mobile ul.mLink li a:hover strong {background:#819b29; color:#fff}
	*/
	/* sub */
	.mobile #content .mBlock {display:block}
	.mobile .content h3.tit_content {height:auto; padding-bottom:20px}
	.mobile #content .content {margin:0 auto; padding-bottom:2%; width:96%}
	/*.mobile #content .location {margin:10px auto 0; padding:0; width:96%}*/
		
	.mobile #content .tableInfo {display:block; overflow:hidden; font-size:12px; text-indent:0}
	.mobile #content .tableInfo > div {float:left; margin-top:2%; width:49%}
	.mobile #content .tableInfo > div table, .mobile #content .tableInfo > div {margin-bottom:0}
	.mobile #content .tableInfo > div td {}
	.mobile #content .tableInfo > div.first {margin-top:5px}
	.mobile #content .tableInfo > div:first-child {margin-top:5px}
	.mobile #content .tableInfo > div.left {margin-right:2%}
/*
	.mobile #content .tableInfo ul {float:left; margin-top:2%; width:49%; border-top:1px solid #e1e1e1; background:#fff}
	.mobile #content .tableInfo ul:first-child {margin-top:0}
	.mobile #content .tableInfo ul.first {margin-top:0}
	.mobile #content .tableInfo ul.left {margin-right:2%}
	.mobile #content .tableInfo ul li {border:1px solid #e1e1e1; border-top:0; overflow:hidden; line-height:1.2em}
	.mobile #content .tableInfo ul li strong {float:left; width:38%; padding:1.5% 2% 2% 3%; background-color:#f4f4f4; color:#000; border-right:1px solid #e1e1e1}
	.mobile #content .tableInfo ul li.mCol strong {padding-bottom:35px}
	.mobile #content .tableInfo ul li span {float:left; width:50%; padding:1.5% 2% 2% 3%}
*/
	.mobile #content .receipt_info > p {min-width:35.5%}
	.mobile #content .receipt_info > ul {width:64%}

	.mobile .tab_arrow01.type02.w144 li a {padding:0 10px; width:auto}

	.mobile .tab_lc_group {width:auto}

	.mobile .tab_arrow02.w33 li {width:auto; margin-right:20px}
	.mobile .tab_arrow02 li {padding-left:0; padding-right:20px; margin-right:20px}
	.mobile .tab_arrow01.type02 li, .mobile .tab_arrow01 li {background:none !important}

	.mobile .cont_parbx .info_box {margin:0 auto}
/* 폰트사이트 리셋 */
	.mobile #container #content .content .cont_parbx .receipt_info p {font-size:13px}
	.mobile #container #content .content .cont_parbx .receipt_info ul li {font-size:12px}
	.mobile #container #content .content .cont_parbx ul.list > li {font-size:13px; background-position:0.1em 0.65em}
	.mobile #container #content .content .page_ps {font-size:12px}
	.mobile #container #content .content h3.tit_content {font-size:25px}
	.mobile #container #content .content h4 {font-size:15px; background-position:left 0.6em}
	.mobile #container #content .content h5 {font-size:13px; background-position:left 0.45em}
	.mobile #container #content .content .tabLayout.green ul li a span {font-size:15px}
	.mobile #container #content .content .infoBox div > p, .mobile #container #content .content .infoBox ul.list > li {font-size:12px}
	.mobile #content > .bbs_list dd li {background-position:left 0.4em}
	.mobile div.main_cont dl.test_ing dd .rollBox ul ul li a strong {line-height:1.2em}
	
	.mobile .step {display:none;}

}
@media only screen and  (max-width:950px) {
	.mobile div.main_cont div.right ul.left_banner {width:65%}
	.mobile ul.link_top li a > span {font-size:12px; line-height:18px}
}
@media only screen and  (max-width:900px) {
	.mobile div.main_cont div.right ul.left_banner {width:63%}
}
@media only screen and  (max-width:870px) {
	.mobile div.main_cont div.right ul.left_banner {width:60%}
	.mobile div.main_cont dl.test_ing dd .moveText {bottom:10px; padding-right:75px}
	.mobile div.main_cont dl.test_ing dd .rollBox ul ul li {margin-top:13px}
	.mobile div.main_cont dl.test_ing dd .rollBox ul ul li:first-child {margin-top:0}
	.mobile div.main_cont div.left dl.test_ing {width:45%}
	.mobile div.main_cont dl.test_ing dd .rollBox ul ul li a strong {width:65%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
}
@media only screen and  (max-width:850px) {
	.mobile ul.link_go li {min-width:93px; width:25%}
	.mobile ul.link_go li.go05 a {padding-left:1px; background:url('resources/images/mobile/bg_mlink_line.png') no-repeat left top}
	.mobile ul.link_go li.go05 a span {left:1px}
}
@media only screen and  (max-width:800px) {
	.mobile div.main_cont ul.left_banner > li.customer {background-size:42%}
}
@media only screen and  (max-width:799px) {
	.mobile ul.link_top {padding:3% 0}
	.mobile ul.link_top li a > span {display:none}
	.mobile ul.link_top li a {margin:0 auto; max-width:180px; background-size:100%}
	.mobile ul.link_top li, .mobile ul.link_top li.n04 {padding:0; width:25%}

	.mobile div.main_cont div.right ul.left_banner {width:57%}
	.mobile div.main_cont div.left dl.test_ing {width:42%}
	/*
	.mobile ul.mLink li {min-width:93px; width:25%}
	.mobile ul.mLink li.m04 a {background:url('resources/images/mobile/bg_mlink_line.png') no-repeat right top}
	.mobile ul.mLink li.m04 a strong {margin-right:1px}
*/
	.mobile .cw800 {display:none}
	.mobile #content .mTest {display:block; padding-top:5px; overflow:hidden}
	.mobile #content .mTest ol {float:left; width:33%}
	.mobile #content .mTest ol li {padding-top:10px; background:url('resources/images/mobile/bg_step_list_down.png') no-repeat center -5px; text-align:center; font-size:12px}
	.mobile #content .mTest ol li:first-child {padding-top:0; background:none}
	.mobile #content .mTest ol li span {display:block; margin:0 5%; padding:8px 10px 10px; background-color:#939395; -webkit-border-radius: 3px; border-radius: 3px; color:#fff}
	.mobile #content .mTest ol.wbg li span {background-color:#fff; border:1px solid #c8c9d3; color:#998f86}
	.mobile #content .mTest ol.wbg li.last span {background-color:#c6e2d6; border:none; color:#4e8973; font-weight:bold}
	.mobile #content .mTest ol li:first-child span {background-color:#87bfd2; color:#fff; font-weight:bold; border:none}
	.mobile #content .mTest ul {margin-bottom:5px}
	.mobile #content .mTest li strong {font-weight:normal; color:#333}
	.mobile div.main_cont ul.left_banner > li.customer {background-size:35%}
}
@media only screen and  (max-width:750px) {
	.mobile div.main_cont div.left dl.test_ing {width:37%}
	.mobile div.main_cont dl.test_ing dd .rollBox ul ul li a strong {width:55%}
}
@media only screen and  (max-width:749px) {
	.mobile #content > .bbs_list {margin-top:3%; width:398px}
	.mobile #content > .bbs_list dd li a {max-width:68%}
	.mobile div.main_cont div.right dl.bbs_list dd li a {max-width:68%}
	.mobile div.main_cont {padding:3% 0}
	.mobile div.main_cont div.left dl.test_ing,
	.mobile div.main_cont div.left div.auto_banner, .mobile div.main_cont div.right {float:none; margin:0 auto; width:396px}
	.mobile div.main_cont div.left div.auto_banner, .mobile div.main_cont div.right {margin-top:3%}
	.mobile div.main_cont div.left dl.test_ing dd .move {bottom:10px}

	.mobile div.main_cont div.right ul.left_banner,
	.mobile div.main_cont div.right ul.right_banner {float:none;width:396px}
	.mobile div.main_cont div.right ul.right_banner {margin-top:5px}
	.mobile div.main_cont ul.right_banner > li.guide {text-align:center}
	.mobile div.main_cont ul.right_banner > li.guide div {display:inline-block; margin:0 auto; padding-right:20px; text-align:left}

	.mobile div.main_cont ul.left_banner > li.list_tel {background-position:23% 21px}
	.mobile div.main_cont ul.left_banner > li.list_tel > a {padding-left:37%}
	
	.mobile div.main_cont dl.test_ing dd {height:auto}
	.mobile div.main_cont dl.test_ing dd p.none {padding-bottom:50px}
	.mobile div.main_cont dl.test_ing dd .appPeriod {padding-bottom:9%; height:auto}
	.mobile div.main_cont dl.test_ing dd .moveText {bottom:7%; padding-right:70px}
	/*.mobile div.main_cont dl.test_ing dd .move {bottom:6%}*/
	.mobile div.main_cont dl.bbs_list {padding:25px 20px 0}
	.mobile div.main_cont dl.bbs_list dt a {padding:0 15px 0}
	.mobile div.main_cont dl.bbs_list dt:first-child a {padding-left:0}
	
}
@media only screen and  (max-width:710px) {
	.mobile #content .receipt_info > p {float:none; min-width:auto; padding:2% 0}
	.mobile #content .receipt_info > ul {float:none; width:auto; border-left:1px solid #e1e1e1; border-top:0}
	.mobile #content .receipt_info > ul li.one_line {margin-top:0}

	.mobile .tab_group_list {float:none; width:100%}
	.mobile .tab_group_list li:first-child > a {border-left:1px solid #dfdfdf}

	.mobile .cont_parbx .info_box {width:auto}
}
@media only screen and  (max-width:699px) {
	.mobile #content .tableInfo > div {float:none; width:100%}
	.mobile #content .tableInfo > div.first {margin-top:2%}
	.mobile #content .tableInfo > div.left {margin-right:0}
	.mobile #content .tableInfo ul li.mCol strong {padding-bottom:2%}
	/*
	.mobile #content .list_tab li {float:none; width:100%}
	.mobile #content .list_tab li a {margin-right:0}
	*/
	.mobile #content .cw700 {display:none}
	.mobile #content .mw700 {display:block}
	.mobile #content .mStep_list {display:block; margin:6px auto 10px; width:60%}
	.mobile #content .mStep_list > li {padding:15px 0 0; background:url('resources/images/mobile/bg_step_list_down.png') no-repeat center top; text-align:center; font-size:12px; text-indent:0; line-height:1.2em}
	.mobile #content .mStep_list > li:first-child {padding-top:0; background:none}
	.mobile #content .mStep_list > li span {display:block; padding:8px 10px 10px; background-color:#b0aba8; -webkit-border-radius: 3px; border-radius: 3px; color:#fff}
	.mobile #content .mStep_list li div {margin-top:2px; padding:8px 10px 10px 10px; background-color:#fff; border:1px solid #d9d8d6; -webkit-border-radius: 3px; border-radius: 3px}
	.mobile #content .mStep_list li div ul {padding-left:35px}
	.mobile #content .mStep_list li div ul li {text-indent:-35px; text-align:left; line-height:20px; font-size:12px}
	.mobile #content h5 + .center_img + .mStep_list {margin-top:0}

	.mobile #content .tableInfo_dt {display:block; padding-bottom:5px}
	.mobile #content .tableInfo_dt dl {display:block; padding-bottom:5px}
	.mobile #content .tableInfo_dt dt {padding:8px 5px 12px; background-color:#f4f4f4; color:#000; border:1px solid #e1e1e1; border-bottom:0; font-size:13px; text-align:center}
	.mobile #content .tableInfo_dt dd tbody th {padding:8px 5px 12px; line-height:1.4em}

	.mobile #content .mTable {margin-top:6px; display:block}
	.mobile #content .mTable dt {margin-left:-8px; padding:10px; background-color:#fff; border:1px solid #e1e1e1; border-bottom:0; color:#000; text-align:center; font-size:12px; line-height:20px}
	.mobile #content .mTable dt strong {font-size:13px}
	.mobile #content .mTable dt em {font-weight:bold}
	.mobile #content .mTable .tbl_normal {margin-top:0}
	.mobile #content .mTable .tbl_normal tbody th {background-color:#fcfcfc; font-size:12px; color:#333}

	.mobile .list_lines01 .inner_menu li {width:48%}

	.mobile #content .mw700 {display:block}
	.mobile #content .tbl_normal.mw700 {overflow:hidden}
	.mobile #content .tbl_normal.mw700 table {width:50%; float:left}
	.mobile #content .tbl_normal.mw700 table:first-child {border-right:0}

	.mobile #content .lc_group_list.bgNone > li > strong {padding-top:5px; padding-bottom:8px; height:auto; line-height:20px; background-position:11px 15px}

	.mobile .cont_parbx .info_box .left, .mobile .cont_parbx .info_box .right {float:none}

	.mobile #content .jungbu30 {display:block}
	.mobile .des_table02 img {max-width:150px}
	.mobile .des_table02 td {padding:10px}
}
@media only screen and  (max-width:650px) {
	.mobile div.main_cont div.right dl.bbs_list {margin-bottom:4%}
	.mobile .tbl_tmp .metier_wrap {padding-left:10px}
	.mobile .metier_wrap .inwrap select.w300 {width:auto !important; min-width:205px}
	/*.mobile .metier_wrap .inwrap .mBtn {padding-left:61px; margin-top:10px; display:block}*/
	.mobile .metier_wrap .inwrap select.w300.mSize {}
	/*.mobile .metier_wrap .inwrap .mBtn2 {padding-left:91px; margin-top:10px; display:block}*/
}
@media only screen and  (max-width:599px) {
	.mobile #content .cw600 {display:none}
	.mobile #content .mw600 {display:block}
	.mobile #content .mb600 {display:block}
	.mobile #content .mTitle h5 span {display:inline-block; margin-top:5px}
}
@media only screen and  (max-width:555px) {
	.mobile #header .center_area {padding:3% 0}
	.mobile #header .center_area h1 img {max-width:60%; max-height:60%}
	.mobile .mMenu_open {padding:0 5% 0 2%}
	.mobile .mMenu_open img {max-width:80%; max-height:80%}
	
	/*.mobile #header p.mText {display:None}*/
	.mobile #header p.mText img {max-width:80%; max-height:80%}
	
	.mobile #content .content {margin:0 auto; padding-bottom:5%; width:90%}
	.mobile .footer {padding:0 0 5%}
	.mobile .footer .footer_top {margin-bottom:5%; padding:0 3%}
	.mobile .footer .center_area {width:90%}
	.mobile .footer .center_area .address address {font-size:11px; line-height:16px}
	.mobile .footer .center_area .address p {font-size:11px}

	.mobile .cont_parbx .inner_li01 {margin-left:10px}

	.mobile .page_ps {text-align:left; padding-left:13px; text-indent:-13px; line-height:20px}
}
@media only screen and  (max-width:520px) {
	.mobile #content .mStep_list {width:80%}	
	.mobile #content > .bbs_list {margin-top:5%}
	.mobile div.main_cont {padding:5% 0}
	/*.mobile div.main_cont div.left {margin-top:5%}*/
}
@media only screen and  (max-width:499px) {
	.mobile ul.link_top li, .mobile ul.link_top li.n04 {width:50%}
	.mobile ul.link_top li a > strong {}

	.mobile div.main_cont div.right dl.bbs_list {margin-bottom:3%}
	.mobile #content .tbl_normal.mw700 table {width:100%; float:none}
	.mobile #content .tbl_normal.mw700 table:first-child {border-bottom:0; border-right:1px solid #e1e1e1; margin-bottom:0}
	.mobile #content .tbl_normal.mw700 .mHead {display:none}

	.mobile .cw500 {display:none}
	.mobile #content .jungbo30_list {display:block}
	.mobile #content .jungbo30_list dt {border:1px solid #e1e1e1; text-align:center}
	.mobile #content .jungbo30_list dt a {display:block; padding:10px}
	.mobile #content .jungbo30_list dd {margin-bottom:2%; padding:15px 20px; border:1px solid #e1e1e1; border-top:0; font-size:12px; line-height:15px}
}
@media only screen and  (max-width:480px) {
	.mobile .footer .footer_top .footer_menu, .mobile .footer .footer_top .site_go {float:none; margin:0 auto}
	.mobile .footer .footer_menu ul {display:inline-block; float:none; overflow:hidden}
}
@media only screen and  (max-width:479px) {
	.mobile div.main_cont ul.left_banner > li.customer {background:none}
	.mobile div.main_cont ul.left_banner > li.customer dl {right:50%; margin-right:-135px; padding:20px 40px 0 0} 
}
@media only screen and  (max-width:435px) {
	.mobile div.main_cont ul.right_banner > li {overflow:hidden}
	.mobile  .metier_wrap .inwrap div {width:100%; margin-right:0}
	.mobile .metier_wrap .inwrap select.w300 {min-width:100%}
	.mobile .metier_wrap .inwrap select.w300.mSize {min-width:100%}
	.mobile .metier_wrap .inwrap .mBtn {display:block; margin-top:10px; text-align:center}
	.mobile .metier_wrap .inwrap .mBtn2 {display:block; margin-top:10px; text-align:center}

	.mobile div.main_cont dl.bbs_list {padding:25px 30px 0 20px; height:290px}
	.mobile div.main_cont dl.bbs_list dd {top:85px}
	.mobile div.main_cont dl.bbs_list dd .more {top:-62px}
	.mobile div.main_cont dl.bbs_list dt {margin-bottom:10px}
	.mobile div.main_cont dl.bbs_list dt a {padding:0 15px 0}
	.mobile div.main_cont dl.bbs_list dt:first-child a {padding-left:0}

	.tabLayout ul li a {padding-left:10px; letter-spacing:-1px}
	.tabLayout ul li a span {padding-right:10px}
	.mobile #content .tableInfo ul li strong {padding:2% 2% 2.5% 3%}
	.mobile #content .tableInfo ul li span {padding:2% 2% 2.5% 3%}

	.mobile ul.link_top {border-bottom:1px solid #dedede}
	
	.mobile #content > .bbs_list {margin-top:5%; width:90%}
	.mobile #content > .bbs_list dd li a {width:57%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
	.mobile div.main_cont div.right dl.bbs_list dd li a {width:57%;}
	.mobile #content > .bbs_list dl dt {padding:5% 5% 0}
	.mobile #content > .bbs_list dl dd {padding:7% 5% 0}
	.mobile #content > .bbs_list dd li {margin-bottom:5%}
	.mobile #content > .bbs_list dd li span {font-size:12px}
	
	.mobile ul.link_go {margin:15px 5% 0; padding:0; background:none; border:1px solid #d5d5d5}
	.mobile ul.link_go li {margin:0; width:33.3%; background:#f6fafc; font-size:11px; background:none !important}
	.mobile ul.link_go li a {margin:0; background:none !important; border-right:1px solid #d5d5d5}
	.mobile ul.link_go li a span {height:56px; border-right:1px solid #d5d5d5}
	.mobile ul.link_go li a em {height:56px}
	/*.mobile ul.link_go li a span img {margin-top:9px}*/
	.mobile ul.link_go li a strong {padding-top:1px; height:19px}
	.mobile ul.link_go li.go09 {display:block; height:74px; background:url('resources/images/mobile/bg_none.png') no-repeat center center !important}
	.mobile ul.link_go li.go01 a, .mobile ul.link_go li.go05 a {padding:0; background:none}
	.mobile ul.link_go li.go01 a span, .mobile ul.link_go li.go05 a span {left:0}
	.mobile ul.link_go li.go03 a, .mobile ul.link_go li.go06 a {border-right:0}
	/*
	.mobile ul.mLink {margin:15px 5% 0; padding:0; background:none; border:1px solid #d5d5d5}
	.mobile ul.mLink li {width:33.3%; background:#f6fafc; font-size:11px; background:none !important}
	.mobile ul.mLink li a {margin:0; background:none !important}
	.mobile ul.mLink li a span {height:56px; border-right:1px solid #d5d5d5}
	.mobile ul.mLink li a span img {margin-top:9px}
	.mobile ul.mLink li a strong {padding-top:1px; height:19px; border-right:1px solid #3a7a98}
	.mobile ul.mLink li.m09 {display:block; height:74px; background:url('resources/images/mobile/bg_none.png') no-repeat center center !important}
	.mobile ul.mLink li.m01, .mobile ul.mLink li.m04, .mobile ul.mLink li.m07 {width:33.4%}
	.mobile ul.mLink li.m04 a strong, .mobile ul.mLink li.m08 a strong {margin-right:0}
	.mobile ul.mLink li.m03 a span, .mobile ul.mLink li.m06 a span, .mobile ul.mLink li.m03 a strong, .mobile ul.mLink li.m06 a strong {border-right:0}
	*/
	.mobile div.main_cont {padding-top:5%; padding-bottom:5%; width:90%}
	.mobile div.main_cont div.left dl.test_ing {width:auto}
	.mobile div.main_cont div.left div.auto_banner, .mobile div.main_cont div.right,
	.mobile div.main_cont div.right ul.left_banner, .mobile div.main_cont div.right ul.right_banner {margin-top:5%; width:auto}
	.mobile div.main_cont dl.test_ing dt {padding:5% 5% 2%}
	.mobile div.main_cont dl.test_ing dd {padding:0 5% 0}
	.mobile div.main_cont dl.test_ing dd .appPeriod {padding-bottom:12%}
	.mobile div.main_cont dl.test_ing dd .rollBox ul ul li {margin-top:3%}
	.mobile div.main_cont dl.test_ing dd .moveText {left:5%; bottom:6%}
	/*.mobile div.main_cont dl.test_ing dd .move {bottom:6%}*/
	.mobile div.main_cont div.left dl.test_ing dd .move {bottom:7%}

	.mobile div.main_cont div.auto_banner {background-color:#e5f4f8}
	.mobile div.main_cont div.auto_banner .rollBox, .mobile div.main_cont div.auto_banner .rollBox > ul li {margin:0 auto; width:284px; height:202px}
	
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base01 {background-size:100%}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base01 a {padding:18% 0 0 9%; width:auto; height:100%}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base01 a > em {font-size:12px}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base01 a > strong {font-size:14px; line-height:20px}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base01 a > span {font-size:11px}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base02 {background-size:100%}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base02 a {padding:35% 0 0; width:auto; height:100%; line-height:20px}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base02 a > strong {font-size:14px; letter-spacing:-1px}
	.mobile div.main_cont div.auto_banner .rollBox > ul li.base02 a > em {font-size:25px}

	.mobile .list_lines01 .inner_menu li {float:none; width:100%}

	.mobile #content .mTest ol {float:none; margin:5% auto 0; width:90%}
	.mobile #content .mTest ol:first-child {margin-top:0}

	.mobile #content p > .btn {margin-top:5px}
	.mobile #content p > .btn:first-child {margin-top:0}

	.mobile .tab_arrow01.w130 li a {padding:0 10px; width:auto}
}


@media only screen and  (max-width:400px) {
	.mobile #header p.mText img {max-width:100%; max-height:100%}
}
@media only screen and  (max-width:330px) {
	.mobile div.main_cont ul.left_banner > li.list_tel {background-position:26px 21px}
	.mobile div.main_cont ul.left_banner > li.list_tel > a {padding-left:85px}
}