<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:root-context.xml
			classpath:dataSource-context.xml
			classpath:mongoContext.xml
			/WEB-INF/spring/security-context.xml
		</param-value>
	</context-param>
<!-- 			classpath:security-context.xml -->
<!-- 			classpath:mail-context.xml -->
<!-- 			classpath:mysqlDataSource-context.xml -->
<!-- 			classpath:mysqlRoot-context.xml -->
<!-- 			classpath:schedule-context.xml -->
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring Security -->
<!-- 	<filter> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
<!--   <servlet> -->
<!--   	<servlet-name>dispatcher</servlet-name> -->
<!--   	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!--   	<init-param> -->
<!--   		<param-name>contextConfigLocation</param-name> -->
<!--   		<param-value>classpath:servlet-context.xml</param-value> -->
<!--   	</init-param> -->
<!--   </servlet> -->
  
<!--   <servlet-mapping> -->
<!--   	<servlet-name>dispatcher</servlet-name> -->
<!--   	<url-pattern>/*</url-pattern> -->
<!--   </servlet-mapping> -->
  
  
    <filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- error page -->
<!-- 	<error-page> -->
<!-- 		<exception-type>java.lang.NullPointerException</exception-type> -->
<!-- 		<location>/nullErrorPage.jsp</location> -->
<!-- 	</error-page> -->
	
<!-- 	<error-page> -->
<!-- 		<error-code>500</error-code> -->
<!-- 		<location>/views/500ErrorPage.jsp</location> -->
<!-- 	</error-page> -->
	
<!-- 	<error-page> -->
<!-- 		<error-code>404</error-code> -->
<!-- 		<location>/error/404ErrorPage</location> -->
<!-- 	</error-page> -->

</web-app>
